[submodule "cli/v6"]
	path = cli/v6
	url = https://github.com/npm/cli
[submodule "cli/v7"]
	path = cli/v7
	url = https://github.com/npm/cli
[submodule "cli/v8"]
	path = cli/v8
	url = https://github.com/npm/cli
