.Box {
  font-size: 16px;
  padding: 16px;
}

.Box_1 {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.Box_2 {
  position: relative;
}

.Box_3 {
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 4px;
}

.Box_4 {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.Box_5 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(140, 149, 159, 0.15);
  z-index: -1;
}

.Box_6 {
  display: flex;
  flex-direction: column;
}

.Box_7 {
  display: flex;
  color: #1f2328;
  flex: 0 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  align-items: center;
  border: 1px solid;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-color: #d0d7de;
  position: relative;
  background: #ffffff;
}

.Box_8 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 70px;
  background: #ffffff;
  z-index: -1;
}

.Box_9 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 70px;
  background: #ffffff;
  z-index: -1;
}

.Text {
  font-size: 12px;
}

.TextInput {
  width: 240px;
}

.LightTheme {
  overflow: auto;
  min-width: 300px;
  max-height: 70vh;
  box-shadow: 0 8px 24px rgba(140, 149, 159, 0.2);
  border-color: #d0d7de;
  background: #ffffff;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
}

.Button:focus-visible {
  outline: 2px solid;
  outline-color: -webkit-focus-ring-color;
  outline-offset: 1px;
}

.TextInput_1 {
  width: 100%;
}

.Button_1 {
  margin-left: 16px;
}

.LightTheme_1 {
  display: flex;
  background: #ffffff;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: auto;
}
