.Box {
  position: sticky;
  width: 270px;
}

.Box_1 {
  overflow: auto;
  border-width: 0;
  border-right-width: 1px;
  height: 100%;
  border-style: solid;
  border-color: #444d56;
}

.Box_2 {
  display: flex;
  flex-direction: column;
}
